#barraContenido{
    background-color: rgb(50, 90, 223);
    position: absolute;
    height: 49px;
    width: 1216px;
    right: 8px;
}
#fotologo{
    height: 50px;
    width: 50px;
}
#fondo{
    background-color:rgb(255, 255, 255);
}
#letra{
    background-color: aliceblue;
}
#botone1{
    position: absolute;
    right: 800px;;
    line-height: 320%;
}
#botone2{
    position: absolute;

    right: 600px;
    line-height: 320%;
}
#botone3{
    position: absolute;

    right: 400px;
    line-height: 320%; 
}
#botone4{
    position: absolute;

    right: 1000px;
    line-height: 320%; 
}
#foto1{
    position: relative;
    width: 400px;
    height: 200px;
    float:left;    
}
#texto{
    position: absolute;
    width: 700px;
    height: 700px;
}
#tabla{
    position: absolute;
    width: 400px;
    right: 15px;
    height: 400px;
    top: 126px;
}
#texto2{
    width: 700px;
    height: 700px; 
}
#tabla2{
    position: absolute;
    width: 400px;
    right: 6px;
    height: 400px;
    top: 119px;
}
#foto2{
    position: relative;
    width: 400px;
    height: 400px;
    float:left; 
}
#texto10{
    width: 700px;
    height: 50px; 
}
#fotoinicio{
    position: relative;
    width: 200px;
    height: 200px;
    float:left;
}
#foto3{
    position: absolute;
    width: 200px;
    right: 656px
    height: 200px;
    float:left;
    top: 50px;
}
